/* web responsive up to 500 max width */

@media (max-width: 1700px){
    .overlay{
        width: 94%;
        height: 94%;
    }

    .matrix-container{
        width: 94%;
        height: 94%;
    }

    .language-selection-container{
        left: 3%;
        bottom: 3%;
    }

    .brightness-slider-container{
        bottom: 20%;
        left: 97%;
    }
}

@media (max-width: 1000px){
    .overlay{
        width: 92%;
        height: 95%;
    }

    .matrix-container{
        width: 92%;
        height: 95%;
    }

    .language-selection-container{
        left: 4%;
        bottom: 2.5%;
    }

    .brightness-slider-container{
        bottom: 19.5%;
        left: 96%;
    }
}

@media (max-width: 800px){
    .overlay{
        width: 90%;
        height: 95%;
    }

    .matrix-container{
        width: 90%;
        height: 95%;
    }

    .language-selection-container{
        left: 5%;
        bottom: 2.5%;
    }

    .brightness-slider-container{
        bottom: 19.5%;
        left: 95%;
    }
}

@media (max-width: 600px){
    .overlay{
        width: 86%;
        height: 94%;
    }

    .matrix-container{
        width: 88%;
        height: 94%;
    }

    .language-selection-container{
        left: 6.5%;
        bottom: 3%;
    }

    .brightness-slider-container{
        bottom: 20%;
        left: 93%;
    }
}