@import 'overlay.css';
@import 'loadScreen.css';
@import 'matrixEffect.css';
@import './web_sections/menu.css';
@import './web_sections/about.css';
@import './web_sections/contacts.css';
@import './web_sections/projects.css';
@import './gadgets/language.css';
@import './gadgets/brightnessSlider.css';
@import 'responsivity.css';

body {
    margin: 0;
    background-color: black;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
}

h1, h2{
    font-size: 50px;
    margin-left: 35px;
    padding-bottom: 35px;
}