.contacts-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 30px;
    top: 5200px;
    color: white;
}

.contacts-container > div{
    position: absolute;
    left: 165px;
    top: 20px;
}

.contacts-container section{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.contacts-container a, p{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.contacts-container a:hover, .contacts-container p:hover{
    color: rgb(148, 148, 148);
    cursor: pointer;
}