.language-selection-container{
    width: 225px;
    height: 35px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    bottom: 4%;
    left: 2%;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.language-selection-container > section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-selection-container button{
    width: 8px;
    height: 11px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.language-selection-container button:hover{
    cursor: pointer;
}