/*#region Body*/
body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../photos/desktop-background-compressed.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

html, body {
    touch-action: manipulation;
}

.computer{
    width: 100%;
    height: 100%;
    display: block;
}

:root{
    --card-body-color: white;
    --card-navbar-color: rgb(203, 203, 203);
}
/*#endregion*/

/*#region Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bab9b9;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*#endregion*/

/*#region Computer*/

/*#region Desktop*/
.app{
    user-select: none;
    -webkit-user-drag: none;
}

.app:hover{
    cursor: pointer;
}

.app-stickies{
    user-select: none;
    -webkit-user-drag: none;
}

.app-stickies:hover{
    cursor: pointer;
}
/*#endregion*/

/*#region Navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgb(56,84,171);
    backdrop-filter: blur(5px);
    user-select: none;
    -webkit-user-drag: none;
}

.navbar-icons-left{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    gap: 15px;
    padding-left: 20px;
}

.navbar-icons-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}

.navbar-dropdown-container{
    position: relative;
    display: inline-block;
}

.navbar-section{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-section:hover{
    cursor: pointer;
}

.navbar-section-dropdown{
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-section-dropdown > p,
.navbar-section-dropdown > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-section-dropdown p:hover, 
.navbar-section-dropdown a:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
.navbar-dropdown-container:hover .navbar-section-dropdown {display: block;}

.navbar a{
    color: black;
}

.navbar u:hover,
.navbar a:hover{
    color: rgb(115, 0, 255);
}

.navbar-time{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
}

.navbar-section-dropdown img {
    margin-left: 5px;
}

p > b{
    font-weight: 800;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu > p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.submenu > p:hover {
    background-color: #ddd;
    cursor: pointer;
}

.navbar-section-dropdown:hover .submenu {
    display: block;
}

.submenu-trigger:hover {
    cursor: pointer;
}
/*#endregion*/

/*#region Taskbar*/
.taskbar-container{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 5px;
    width: 90%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.taskbar-apps-container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.taskbar-dots-container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 71px;
}

.notepad-card-dot,
.blender-card-dot,
.vscode-card-dot,
.unity-card-dot,
.email-card-dot,
.calculator-card-dot,
.clock-card-dot,
.contacts-card-dot,
.stickies-card-dot,
.settings-card-dot,
.photos-card-dot,
.music-card-dot,
.painting-card-dot,
.trash-card-dot
{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
}

.taskbar-icons:hover{
    cursor: not-allowed;
}

.app-pop-up-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    position: absolute;
    left: 0;
    top: -45px;
}

.app-pop-up {
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.31);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    user-select: none;
}

.notepad-pop-up,
.email-pop-up,
.blender-pop-up,
.vscode-pop-up,
.unity-pop-up,
.calculator-pop-up,
.clock-pop-up,
.contacts-pop-up,
.stickies-pop-up,
.settings-pop-up,
.photos-pop-up,
.music-pop-up,
.painting-pop-up,
.trash-pop-up
{
    opacity: 0;
}

.taskbar-container hr{
    position: absolute;
    right: 315px;
    height: 45px;
    width: 0px;
    border: 0;
    border-right: 1px solid white;
}
/*#endregion*/

/*#region Applications*/
.buttons{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 10px;
}

.button-close{
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(250,94,86);
}

.button-minimize{
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(254,188,46);
}

.button-maximize{
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(40,200,64);
}

.button-close:hover,
.button-minimize:hover,
.button-maximize:hover{
    cursor: pointer;
}

/*#endregion*/

/*#region Notepad*/
.notepad-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.notepad-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.notepad-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}

.notepad-card p{
    padding-left: 15px;
}

.notepad-card u:hover,
.notepad-card a:hover{
    color: rgb(115, 0, 255);
}
/*#endregion*/

/*#region Email*/
.email-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 750px;
    max-width: 1200px;
    min-height: 450px;
    max-height: 1200px;
}

.email-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.email-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.form-container{
    padding-top: 20px;
}

.form-container hr{
    width: 90%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.208);
}

.form-container button{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.input-group{
    padding-left: 50px;
}

input[type="text"],
input[type="email"]{
    width: 80%;
    margin-left: 15px;
    border: 0;
    outline: none;
}

#content {
    margin-top: 30px;
    height: 250px;
    width: 95%;
    resize: none;
    border: 0;
    outline: none;
}
/*#endregion*/

/*#region Blender*/
.blender-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: vertical;
    overflow: hidden;
    min-height: 100px;
    max-height: 1200px;
}

.blender-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 25px;
    max-height: 25px;
}

.blender-card-body{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.blender-card-body-navbar{
    width: 20%;
    height: 100%;
    background-color: var(--card-navbar-color);
    border-bottom-left-radius: 10px;
    gap: 50px;
    overflow-y: scroll;
}

.blender-card-body-navbar-projects-container{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.blender-card-body-main{
    width: 80%;
    height: 100%; 
    overflow-y: scroll;
    background-color: var(--card-body-color);
}

.blender-card-body-main-projects-container{
    width: 100%;
    height: auto;
}
/*#endregion*/

/*#region Vscode*/
.vscode-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: vertical;
    overflow: hidden;
    min-height: 100px;
    max-height: 1200px;
}

.vscode-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 25px;
    max-height: 25px;
}


.vscode-card-body{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.vscode-card-body-navbar{
    width: 20%;
    height: 100%;
    background-color: var(--card-navbar-color);
    border-bottom-left-radius: 10px;
    gap: 50px;
    overflow-y: scroll;
}

.vscode-card-body-navbar-projects-container{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.vscode-card-body-main{
    width: 80%;
    height: 100%; 
    overflow-y: scroll;
    background-color: var(--card-body-color);
}

.vscode-card-body-main-projects-container{
    width: 100%;
    height: auto;
}

/*#endregion*/

/*#region Unity*/
.unity-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: vertical;
    overflow: hidden;
    min-height: 100px;
    max-height: 1200px;
}

.unity-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 25px;
    max-height: 25px;
}

.unity-card-body{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.unity-card-body-navbar{
    width: 20%;
    height: 100%;
    background-color: var(--card-navbar-color);
    border-bottom-left-radius: 10px;
    gap: 50px;
    overflow-y: scroll;
}

.unity-card-body-navbar-projects-container{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.unity-card-body-main{
    width: 80%;
    height: 100%; 
    overflow-y: scroll;
    background-color: var(--card-body-color);
}

.unity-card-body-main-projects-container{
    width: 100%;
    height: auto;
}

.unity-card-body-main-projects-container b {
    font-weight: 800;
}
/*#endregion*/

/*#region Calculator*/
.calculator-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.calculator-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.calculator-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}
/*#endregion*/

/*#region Clock*/
.clock-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.clock-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.clock-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}
/*#endregion*/

/*#region Contacts*/
.contacts-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.contacts-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.contacts-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}
/*#endregion*/

/*#region Settings*/
.settings-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.settings-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.settings-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}
/*#endregion*/

/*#region Photos*/
.photos-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.photos-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.photos-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.photos-card-body p {
    font-size: 30px;
    font-weight: 600;
}

.photos-card-body img {
    border-radius: 5px;
}

.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.grid-container img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.275);
}

.photo-display{
    width: 100%;
    height: 95%;
    background-image: url("");
    display: none;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 2;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}
/*#endregion*/

/*#region Music*/
.music-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.music-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.music-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
}
/*#endregion*/

/*#region Stickies*/
.stickies-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.stickies-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.stickies-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-container{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-container-header{
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 20px;
}

.sticky-text {
    font-family: "Caveat", cursive;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    text-align: left;
    font-size: 20px;
    resize: none;
    overflow: hidden;
}

.sticky-text::placeholder {
    text-align: center; 
}

/*#endregion*/

/*#region Painting*/
.painting-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.painting-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.painting-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    display: flex;
}

.canvas-sidebar{
    position: absolute;
    left: 0;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    width: 135px;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.321);
    border-bottom-left-radius: 10px;
}

#paintingCanvas{
    width: 100%; /*900*/
    height: 100%; /*475*/
    border-bottom-left-radius: 10px;
}

.color-buttons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.color-buttons button{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 5px;
}

.color-buttons button:hover{
    cursor: pointer;
}

.painting-card-body > img {
    position: absolute;
    left: 20px;
    top: 40px;
    user-select: none;
    cursor: pointer;
}

.canvas-sidebar > input[type="range"]{
    width: 100px;
    margin-top: 70px;
}

.canvas-sidebar > img:nth-of-type(1){
    position: absolute;
    top: 10px;
    right: 0;
    transform: rotate(180deg);
    cursor: pointer;
}

.canvas-sidebar > img:nth-of-type(2){
    cursor: pointer;
}

.color-buttons button:nth-of-type(1){
    background-color: white;
}
.color-buttons button:nth-of-type(2){
    background-color: pink;
}
.color-buttons button:nth-of-type(3){
    background-color: lightblue;
}
.color-buttons button:nth-of-type(4){
    background-color: blue;
}
.color-buttons button:nth-of-type(5){
    background-color: yellow;
}
.color-buttons button:nth-of-type(6){
    background-color: orange;
}
.color-buttons button:nth-of-type(7){
    background-color: green;
}
.color-buttons button:nth-of-type(8){
    background-color: red;
}
.color-buttons button:nth-of-type(9){
    background-color: purple;
}
.color-buttons button:nth-of-type(10){
    background-color: brown;
}
.color-buttons button:nth-of-type(11){
    background-color: gray;
}
.color-buttons button:nth-of-type(12){
    background-color: black;
}
/*#endregion*/

/*#region Trash bin*/
.trash-card{
    width: 900px;
    height: 500px;
    display: none;
    position: absolute;
    z-index: 2;
    resize: both;
    overflow: hidden;
    min-width: 300px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 1200px;
}

.trash-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5%;
    min-height: 25px;
    max-height: 25px;
    background: linear-gradient(to bottom, #e9e9e9, #bab9b9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #a2a2a2 1px;
    bottom: 0;
}

.trash-card-body{
    width: 100%;
    height: 95%;
    background-color: var(--card-body-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #a2a2a2 1px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.trash-card-body > p:hover {
    background-color: rgba(0, 0, 0, 0.219);
    cursor: pointer;
}
/*#endregion*/

/*#region VScode Projects*/
.vscode-project-1-preview{
    background-image: url("../photos/vscode-project-1-photo-1-blured.jpg");
}

.vscode-project-2-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.vscode-project-3-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.vscode-project-4-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.vscode-project-1{
    width: 100%;
    height: 500px;
    display: block;
}

.vscode-project-2{
    width: 100%;
    height: 500px;
    display: none;
}

.vscode-project-3{
    width: 100%;
    height: 500px;
    display: none;
}

.vscode-project-4{
    width: 100%;
    height: 500px;
    display: none;
}

.vscode-project-preview{
    cursor: pointer;
    width: 100px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    user-select: none;
}

.vscode-project-preview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.275);
}

.vscode-card-body-main-projects-container  article{
    padding-left: 25px;
    padding-top: 50px;
}

.project-name{
    font-size: 60px;
    font-weight: 800;
    padding-left: 25px;
    padding-top: 25px;
}

.project-preview-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 15px;
    width: 80%;
}

.vscode-card-body-main-projects-container article > p:nth-of-type(1){
    padding-bottom: 15px;
}

.vscode-project-preview > p:nth-of-type(1){
    padding-bottom: 5px;
}
/*#endregion*/

/*#region Blender projects*/
.blender-project-1-preview{
    background-image: url("../photos/blender-project-1-photo-1-blured.jpg");
}

.blender-project-2-preview{
    background-image: url("../photos/blender-project-2-photo-1-blured.jpg");
}

.blender-project-3-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.blender-project-4-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.blender-project-1{
    width: 100%;
    height: 1200px;
    display: block;
}

.blender-project-2{
    width: 100%;
    height: 1200px;
    display: none;
}

.blender-project-3{
    width: 100%;
    height: 500px;
    display: none;
}

.blender-project-4{
    width: 100%;
    height: 500px;
    display: none;
}

.blender-project-preview{
    cursor: pointer;
    width: 100px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    user-select: none;
}

.blender-project-preview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.275);
}

.blender-card-body-main-projects-container  article{
    padding-left: 25px;
    padding-top: 50px;
}

.project-name{
    font-size: 60px;
    font-weight: 800;
    padding-left: 25px;
    padding-top: 25px;
}

.project-preview-name{
    font-weight: 800;
    font-size: 15px;
}

.blender-card-body-main-projects-container article > p:nth-of-type(1){
    padding-bottom: 15px;
}

.blender-project-preview > p:nth-of-type(1){
    padding-bottom: 5px;
}

.blender-card-body-main-projects-container article{
    display: flex;
    flex-direction: column;
}

article > img{
    align-self: center;
}
/*#endregion*/

/*#region Unity projects*/
.unity-project-1-preview{
    background-image: url("../photos/unity-project-1-photo-1-blured.jpg");
}

.unity-project-2-preview{
    background-image: url("../photos/unity-project-2-photo-1-blured.jpg");
}

.unity-project-3-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.unity-project-4-preview{
    background-image: url("../photos/example-photo-1-blured.jpg");
}

.unity-project-1{
    width: 100%;
    height: 900px;
    display: block;
}

.unity-project-2{
    width: 100%;
    height: 900px;
    display: none;
}

.unity-project-3{
    width: 100%;
    height: 600px;
    display: none;
}

.unity-project-4{
    width: 100%;
    height: 400px;
    display: none;
}

.unity-project-preview{
    cursor: pointer;
    width: 100px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    user-select: none;
}

.unity-project-preview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.275);
}

.unity-card-body-main-projects-container  article{
    padding-left: 25px;
    padding-top: 50px;
}

.project-name{
    font-size: 60px;
    font-weight: 800;
    padding-left: 25px;
    padding-top: 25px;
}

.project-preview-name{
    font-weight: 800;
    font-size: 15px;
}

.unity-card-body-main-projects-container article > p:nth-of-type(1){
    padding-bottom: 15px;
}

.unity-project-preview > p:nth-of-type(1){
    padding-bottom: 5px;
}
/*#endregion*/

/*#region Projects gallery*/
.project-gallery{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    user-select: none;
}

.project-gallery > img{
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.351);
}

.project-gallery-buttons-container{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project-gallery-buttons{
    width: 35px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

.project-gallery-buttons:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.142);
    border: 1px solid rgba(0, 0, 0, 0.216);
}
/*#endregion*/

/*#region Attention card*/
.attention-card{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    user-select: none;
}

.attention-card-header{
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, #eaebed, #d2d1d2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid rgb(203,202,201) 1px;
    cursor: move;
}

.attention-card-body{
    width: 100%;
    height: 90%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid rgb(203,202,201) 1px;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attention-card-body-image{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attention-card-body-text{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.attention-card-body-text > button{
    width: 75px;
    height: 25px;
    align-self: flex-end;
    margin-right: 20px;
    background: linear-gradient(to bottom, #5eaeff, #0c75ff);
    color: white;
    border: 0;
    border-radius: 5px;
}

.attention-card-body-text > button:hover{
    background: linear-gradient(to bottom, #7cbcfc, #2d88ff);
    cursor: pointer;
}

.attention-card-body-image > img{
    margin-bottom: 70px;
}

/*#endregion*/

/*#region Alert card*/
.alert-card{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    user-select: none;
    z-index: 5;
}

.alert-card-header{
    width: 100%;
    height: 15%;
    background: linear-gradient(to bottom, #eaebed, #d2d1d2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid rgb(203,202,201) 1px;
}

.alert-card-body{
    width: 100%;
    height: 85%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid rgb(203,202,201) 1px;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-card-body-text{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-card-body-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.alert-card-body-buttons > button{
    width: 55px;
    height: 25px;
    align-self: flex-end;
    background: linear-gradient(to bottom, #5eaeff, #0c75ff);
    color: white;
    border: 0;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.alert-card-body-buttons > button:hover{
    background: linear-gradient(to bottom, #7cbcfc, #2d88ff);
    cursor: pointer;
}
/*#endregion*/

/*#endregion*/

/*#region Mobile*/
.mobile{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    background-image: url("../photos/desktop-background-compressed.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.mobile-app{
    user-select: none;
    -webkit-user-drag: none;
}

/*#region Navbar*/
.mobile-header{
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-header-time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;
    color: white;
}

.mobile-header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    width: 150px;
}

.desktop-mobile-app-navbar{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 5%;
    position: fixed;
    top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(226,170,31);
}

.desktop-mobile-app-navbar > img{
    transform: rotate(180deg);
    margin-left: 15px;
}
/*#endregion*/

/*#region Screen*/
.desktop-mobile-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 50px;
}

.mobile-apps-container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
/*#endregion*/

/*#region Notepad*/
.desktop-mobile-app-notepad{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.mobile-notepad-body p {
    margin-left: 15px;
}

.mobile-notepad{
    width: 100%;
    height: 100%;
    background-color: white;
}

.mobile-notepad-body{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
/*#endregion*/

/*#region Bledner*/
.desktop-mobile-app-blender{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}
/*#endregion*/

/*#region VSCode*/
.desktop-mobile-app-vscode{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}
/*#endregion*/

/*#region Unity*/
.desktop-mobile-app-unity{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}
/*#endregion*/

/*#region Email*/
.desktop-mobile-app-email{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-email-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Calculator*/
.desktop-mobile-app-calculator{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-calculator-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Clock*/
.desktop-mobile-app-clock{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-clock-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Contacts*/
.desktop-mobile-app-contacts{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-contacts-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Photos*/
.desktop-mobile-app-photos{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-photos-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Music*/
.desktop-mobile-app-music{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-music-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Painting*/
.desktop-mobile-app-painting{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-painting-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Settings*/
.desktop-mobile-app-settings{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.desktop-mobile-app-settings-body{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}
/*#endregion*/

/*#region Taskbar*/
.mobile-taskbar{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 5px;
    width: 90%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}
/*#endregion*/

/*#region Blender mobile projects*/
.blender-mobile-project-1{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}

.blender-mobile-project-2{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.blender-mobile-project-3{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: none;
    flex-direction: column;
}

.blender-mobile-project-4{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.desktop-mobile-app-blender article {
    padding-top: 50px;
    padding-left: 30px;
}

.desktop-mobile-app-blender article > p:nth-of-type(1){
    padding-bottom: 15px;
}

.mobile-project-name{
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
}
/*#endregion*/

/*#region VSCode mobile projects*/
.vscode-mobile-project-1{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}

.vscode-mobile-project-2{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.vscode-mobile-project-3{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: none;
    flex-direction: column;
}

.vscode-mobile-project-4{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.desktop-mobile-app-vscode article {
    padding-top: 50px;
    padding-left: 30px;
}

.desktop-mobile-app-vscode article > p:nth-of-type(1){
    padding-bottom: 15px;
}
/*#endregion*/

/*#region Unity mobile projects*/
.unity-mobile-project-1{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
}

.unity-mobile-project-2{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.unity-mobile-project-3{
    width: 100%;
    height: 100%;
    background-color: var(--card-body-color);
    display: none;
    flex-direction: column;
}

.unity-mobile-project-4{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
    flex-direction: column;
}

.desktop-mobile-app-unity article {
    padding-top: 50px;
    padding-left: 30px;
}

.desktop-mobile-app-unity article > p:nth-of-type(1){
    padding-bottom: 15px;
}
/*#endregion*/

/*#endregion*/

/*#region Responsivity*/
@media(max-width: 900px){
    .computer{
        display: none;
    }

    .mobile{
        display: flex;
    }
}

@media(max-width: 370px){
    .desktop-mobile{
        gap: 40px;
    }
}
/*#endregion*/

.navbar-icons-right > img:nth-of-type(3){
    cursor: pointer;
}